<footer>
    <div class="footer-container">
        <div class="footer-left">
            <h2>About Us</h2>
            <p>Hey peeps! Tired of juggling society tasks and feeling lost in the crowd of endless campus events? Worry not — we've got your back. With The Hive, you can explore societies, participate in events, and even organize your own — all in one place. It’s your one-stop hub to stay connected, stay involved, and never miss out on your favorite happenings again!</p>
            <form action="/societies">
                <button>Explore Societies</button>
            </form>
        </div>
        <div class="footer-right">
            <h2>Contact Us</h2>
            <p><strong>Email : </strong><a href="guptaaki2604@gmail.com">guptaaki2604@gmail.com</a></p>
            <div class="social-icons">
                <a href="https://www.instagram.com/akriti.04_?igsh=b3F0N3d4bzIyZTY4"><i class="fa-brands fa-instagram"></i></a>
                <a href=""><i class="fa-brands fa-facebook-f"></i></a>
                <a href="https://www.linkedin.com/in/akriti-gupta-a47a30251?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"><i class="fa-brands fa-linkedin-in"></i></a>
                <a href=""><i class="fa-brands fa-x-twitter"></i></a>
            </div>
        </div>
    </div>
</footer>