<% layout("/layouts/boilerplate") %>
<body>
    <div class="row mt-2">
        <div class="col-6 offset-3">
            <h5 style="color: grey;">Already a user ?</h3>
            <h3>Sign In  :</h3><br>
            <form method="post" action="/login">
                <div class="mb-3">
                    <label for="username" class="form-label">Username :</label>
                    <input name="username" class="form-control" type="text" required/>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password :</label>
                    <input name="password" class="form-control" placeholder="enter a strong password" type="password" />
                </div>
                <br>
                <button class="btn btn-success">Sign-in</button><br><br>
            </form>
        </div>
    </div>
</body>
